/**/*
!.gitignore
!/Assets/Scripts/Attributes/*.cs
!/Assets/Scripts/Core/AnimationControl/**/*.cs
!/Assets/Scripts/Core/Camera/*.cs
!/Assets/Scripts/Core/Data/Constants/*.cs
!/Assets/Scripts/Core/Data/LevelPreloader/*.cs
!/Assets/Scripts/Core/Data/LoadScenesHandlers/*.cs
!/Assets/Scripts/Core/Data/PlayerProgress/*.cs
!/Assets/Scripts/Core/Data/SceneContext/*.cs
!/Assets/Scripts/Core/NativeStateMachine/*.cs
!/Assets/Scripts/Core/Player/CollisionDetector.cs
!/Assets/Scripts/Core/Player/CrashDetector.cs
!/Assets/Scripts/Core/Player/FromGroundDistanceCalculator.cs
!/Assets/Scripts/Core/Player/FromGroundToPointDistanceProvider.cs
!/Assets/Scripts/Core/Player/IChangePlayerDataHandler.cs
!/Assets/Scripts/Core/Player/MotorMono.cs
!/Assets/Scripts/Core/Player/PlayerParameters/PlayerParameters.cs
!/Assets/Scripts/Core/EntryPoint.cs
!/Assets/Scripts/Core/UniquedScriptableObject.cs